:root {
  --backgroud-color: #064e3b;
  --footer-color: #03221a;
  --box-color: #05634a;
  --text-color: #ffffff;
  --gold: #d4af37;
  --black: #000000;
  --border-shadow: 2px 2px 5px 1px rgb(0, 0, 0, 0.5);
  --border-radius: 10px;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: visible;
}

body {
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.content-shield {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: var(--backgroud-color);
  flex-grow: 1;
}

@media (max-width: 768px) {
  .app-container {
    height: auto;
  }
}

/* * {
  outline: 1px solid red !important;
} */
