:root {
  --deep-green: #064e3b;
  --deep-dark: #03221a;
  --box-color: #04664c;
  --overlay-background: #264d42;
  --white: #ffffff;
  --gold: #d4af37;
  --black: #000000; 
  --border-shadow: 6px 6px 20px 1px #000000;
  --border-radius: 10px;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: visible;
}

body {
  color: var(--white);
  background: var(--deep-green);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

@media (max-width: 768px) {
  .app-container {
    height: auto;
  }
}
